page-list {

}

.item-right {
	position: absolute;
	right: 30px;
	z-index: 3;
	transform: scale(3, 3);	
}

#levelProg {
	margin-top: 20px;
}

.progressContainer {
	width: 70%;
	display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkmark-circle {
	color: #228B22; /*GREEN*/
}