page-catmodal {
	ion-card {
    position: relative;
    text-align: center;
    height: 120px;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 3.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-shadow: 4px 4px 8px black;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}

.modal-wrapper {
  height: 90%;
  top: 0%;
}
