page-nudge {

}

.nudgeDescript {
	margin: 10px;
	padding-top: 20px;
}

#nudDesc1, #nudDesc2, ol {
	margin: 0px;
	margin-top: 15px;
	font-size: 14px;
}	
 

.slide-zoom {
    height: 100%;
}

.left-button {
	position: absolute;
	left: 5%;
	width: 43%;
	right: 52%;
}

.right-button {
	position: absolute;
	left: 52%;
	width: 43%;
	right: 5%;
}

.top-button {
	top: 21%;
	height: 10%;
}

.bottom-button {
	top: 65%;
	height: 10%;
}

.nudgeIcon {
	margin-top: 50%;
}

.resourceTitle {
	width: 100%;
	position: absolute;
	top: 35%;
}

.sponsTitle {
	width: 100%;
	position: absolute;
	top: 70%;
}